---
const { title, items } = Astro.props;
---

<div
  class="p-4 sm:p-6 bg-customGray bg-opacity-85 rounded shadow-md border-y-8 border-customYellow transition duration-300 ease-in-out transform hover:bg-customYellow"
>
  <h3 class="text-lg sm:text-xl font-semibold mb-4 text-center">
    {title}
  </h3>
  <div class="grid grid-cols-1 lg:mx-32 mb-4">
    <ol>
      {
        items.map((item) => (
          <>
            <li class="font-bold">{item.type}</li>
            <ul class="ml-4">
              {item.details.map((detail) => (
                <li>{detail}</li>
              ))}
            </ul>
          </>
        ))
      }
    </ol>
  </div>
</div>
