---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee - Café">
  <section class="bg-gray-100">
    <main class="pt-8 pb-16 dark:bg-gray-900 antialiased">
      <div class="flex justify-between px-4 mx-auto max-w-screen-lg">
        <article class="mx-auto w-full">
          <header class="mb-4">
            <h1 class="mb-4 text-3xl font-extrabold text-center">
              Nuestro Café
            </h1>
          </header>
          <p class="text-justify">
            En la Finca Bristol nos enorgullece presentarte nuestro café,
            cultivado con pasión y cuidado en las fértiles tierras de nuestra
            finca. Cada grano es seleccionado meticulosamente para garantizar la
            más alta calidad en cada taza que disfrutas.
          </p>
          <p class="text-justify">
            Nuestro café se distingue por su sabor excepcional, que fusiona
            notas afrutadas y toques de cacao con una suavidad incomparable.
            Este equilibrio perfecto es el resultado de años de experiencia y
            dedicación por parte de nuestros agricultores, que trabajan en
            armonía con la naturaleza para producir un producto que deleita los
            sentidos.
          </p>
          <p class="text-justify">
            Desde la cosecha hasta la tostión, cada etapa del proceso se lleva a
            cabo con el mayor cuidado y atención al detalle. Esto nos permite
            garantizar que cada taza de café que disfrutas refleje la excelencia
            y el compromiso que nos caracteriza en la Finca Bristol.
          </p>
          <div class="flex flex-col justify-center">
            <Carousel />
            <!-- <figure>
              <img
                src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1714302872/Bristol%20Koffee/pexels-photo-2067628_eygc87.webp"
                alt="Café de Finca Bristol"
                class="pt-4"
              />
              <figcaption class="pb-4">
                Nuestro café: una experiencia única en cada taza
              </figcaption>
            </figure> -->
          </div>
          <p class="text-justify">
            El café de nuestra finca proviene de plantaciones ubicadas en las laderas de las montañas, donde el clima y el suelo proporcionan condiciones óptimas para el cultivo de granos de café de alta calidad. La combinación de altitud, temperatura y humedad crea un entorno único que influye en el sabor y aroma característicos de nuestro café, convirtiéndolo en una experiencia sensorial incomparable.
          </p>
        </article>
      </div>
    </main>
  </section>
</Layout>
