---
import FollowUs from "../components/FollowUs.astro";
import GoogleReviews from "../components/GoogleReviews.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee">
  <main class="w-full">
    <div
      class="bg-cover bg-center object-cover"
      style="height: 89vh; background-image: url(https://res.cloudinary.com/dtmrroz8t/image/upload/v1715417033/Bristol%20Koffee/bristol__01_coq4y4.jpg);"
    >
      <div
        class="flex items-center justify-center h-full w-full"
        style="backdrop-filter: brightness(40%);"
      >
        <div class="text-center">
          <h1
            class="text-customWhite text-2xl font-semibold uppercase md:text-3xl"
          >
            <span class="text-customYellow">Bristol</span> Koffee
          </h1>
          <h2 class="text-customWhite">
            Despierta tus sentidos en cada sorbo: ¡Bienvenido al aroma del café
            perfecto!
          </h2>
        </div>A
      </div>
    </div>
    <section>
      <FollowUs />
    </section>
    <section>
      <GoogleReviews />
      <!-- <div
        data-wally-widget="664f92bfb16abb001465e540"
        style="width: 100%; height: 100%;"
      >
      </div>
      <script is:inline src="https://embed.getwally.net/embed.js"></script> -->
    </section>
  </main>
</Layout>
