---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee">
  <main class="w-full">
    <div
      class="bg-cover bg-center object-cover"
      style="height: 89vh; background-image: url(https://res.cloudinary.com/dtmrroz8t/image/upload/v1714302872/pexels-photo-2067628_eygc87.webp);"
    >
      <div
        class="flex items-center justify-center h-full w-full"
        style="backdrop-filter: brightness(40%);"
      >
        <div class="text-center">
          <h1
            class="text-customWhite text-2xl font-semibold uppercase md:text-3xl"
          >
            <span class="text-customYellow">Bristol</span> Koffee
          </h1>
          <h2 class="text-customWhite">
            Despierta tus sentidos en cada sorbo: ¡Bienvenido al aroma del café
            perfecto!
          </h2>
        </div>
      </div>
    </div>
  </main>
</Layout>
