---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee">
  <main>
    <section
      class="w-full py-6"
    >
      <h1 class="text-black text-5xl font-bold">Bristol Koffee</h1>
      <h2>
        Despierta tus sentidos en cada sorbo: ¡Bienvenido al aroma del café
        perfecto!
      </h2>
    </section>
  </main>
</Layout>
