---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee - Aviso Legal">
  <div class="bg-gray-100 min-h-screen">
    <div class="container mx-auto p-32">
      <h1 class="text-3xl font-bold mb-6">Aviso Legal</h1>

      <p class="mb-4">
        Este sitio web y su contenido son propiedad de Bristol Koffee. El uso de
        este sitio web está sujeto a los siguientes términos y condiciones de
        uso:
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Uso del sitio web</h2>
      <p class="mb-4">
        El uso de este sitio web está sujeto a las siguientes condiciones de
        uso:
        <ul class="list-disc pl-8">
          <li>
            El contenido de las páginas de este sitio web es solo para su
            información general y uso. Está sujeto a cambios sin previo aviso.
          </li>
          <li>
            Ni nosotros ni terceros ofrecemos ninguna garantía en cuanto a la
            precisión, puntualidad, rendimiento, integridad o idoneidad de la
            información y los materiales encontrados u ofrecidos en este sitio
            web para cualquier propósito particular.
          </li>
          <li>
            Usted reconoce que dicha información y materiales pueden contener
            inexactitudes o errores y que excluimos expresamente la
            responsabilidad por tales inexactitudes o errores en la medida
            máxima permitida por la ley.
          </li>
          <li>
            El uso de cualquier información o material en este sitio web es bajo
            su propio riesgo, y no seremos responsables. Es su propia
            responsabilidad asegurarse de que cualquier producto, servicio o
            información disponible a través de este sitio web cumpla con sus
            requisitos específicos.
          </li>
        </ul>
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">
        Limitación de responsabilidad
      </h2>
      <p class="mb-4">
        Ni nosotros ni ningún tercero ofrecemos garantías en cuanto a la
        precisión, puntualidad, rendimiento, integridad o idoneidad de la
        información y los materiales encontrados u ofrecidos en este sitio web
        para cualquier propósito particular. Usted acepta que dicho uso de
        cualquier información o material en este sitio web es bajo su propio
        riesgo, y no seremos responsables.
      </p>

      <p class="mt-8">
        Para más información, por favor <span class="font-bold underline"
          ><a href="/contacto">ponte en Contacto con Nosotros</a></span
        >.
      </p>
    </div>
  </div>
</Layout>
