---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee">
  <div class="min-h-screen">
    <div class="container mx-auto p-32">
      <h1 class="text-3xl font-bold mb-6">Política de Privacidad</h1>
      
      <p class="mb-4">
        En Bristol Koffee, la privacidad de nuestros visitantes es de extrema importancia para nosotros. 
        Esta política de privacidad describe los tipos de información personal que recibimos y recopilamos 
        y cómo se utiliza, se guarda y se protege esta información.
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Recopilación de información</h2>
      <p class="mb-4">
        Cuando visitas nuestro sitio web, podemos recopilar cierta información sobre tu visita 
        automáticamente, como tu dirección IP, la fecha y hora de tu visita, las páginas que 
        visitas y el tiempo que pasas en cada página.
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Uso de la información</h2>
      <p class="mb-4">
        La información que recopilamos se utiliza para analizar y mejorar el contenido de nuestro sitio 
        web, para personalizar la experiencia del usuario y para responder a las consultas de los usuarios.
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Divulgación de información a terceros</h2>
      <p class="mb-4">
        No vendemos, intercambiamos ni transferimos de ninguna otra manera tu información personal a terceros 
        sin tu consentimiento, excepto cuando sea requerido por ley.
      </p>

      <h2 class="text-2xl font-bold mt-8 mb-4">Seguridad de la información</h2>
      <p class="mb-4">
        Nos comprometemos a proteger la seguridad de tu información personal y tomamos todas las medidas 
        razonables para garantizar que tu información esté segura.
      </p>

      <p class="mt-8">
        Si tienes alguna pregunta sobre esta política de privacidad, <span class="font-bold underline"><a href="/contacto">ponte en Contacto con Nosotros</a></span>.
      </p>
    </div>
  </div>
</Layout>

<style>
  /* Estilos adicionales si es necesario */
</style>
