---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee - Sobre Nosotros">
  <section class="bg-gray-100">
    <main class="pt-8 pb-16 dark:bg-gray-900 antialiased">
      <div class="flex justify-between px-4 mx-auto max-w-screen-lg">
        <article class="mx-auto w-full">
          <header class="mb-4">
            <h1 class="mb-4 text-3xl font-extrabold text-center">
              Sobre Nosotros
            </h1>
          </header>
          <p class="text-justify">
            Bristol Koffee es una empresa que nació en 2024 en Viladecans con
            una pasión compartida por el café de calidad. Nos enorgullece
            ofrecer a los amantes del café una experiencia única utilizando el
            mejor Café de finca seleccionado cuidadosamente de las mejores
            plantaciones del mundo.
          </p>
          <p class="text-justify">
            Nos destacamos en el mundo del café especialidad gracias a nuestra
            dedicación y compromiso con la excelencia. Llevamos muchos años
            perfeccionando nuestro arte para brindarte una taza de café
            excepcional en cada visita.
          </p>
          <div class="flex justify-center gap-4">
            <figure>
              <img
                src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1715717092/bristol-koffee-2_yyptf8.jpg"
                alt="Café de Finca Bristol"
                class="pt-4 max-w-xs h-auto"
              />
            </figure>
            <figure>
              <img
                src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1715717092/bristol-koffee-2_yyptf8.jpg"
                alt="Café de Finca Bristol"
                class="pt-4 max-w-xs h-auto"
              />
            </figure>
            <figure>
              <img
                src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1715717092/bristol-koffee-2_yyptf8.jpg"
                alt="Café de Finca Bristol"
                class="pt-4 max-w-xs h-auto"
              />
            </figure>
          </div>
        </article>
      </div>
    </main>
  </section>
</Layout>
