---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bristol Koffee">
  <div class="bg-gray-200 py-8">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold mb-4">Sobre Nosotros</h2>
      <!-- test-->
    </div>
  </div>
</Layout>
