<section class="max-w-screen-lg mx-auto py-10">
  <div class="2xl:container 2xl:mx-auto md:py-12 lg:px-0 md:px-6 py-9">
    <div class="text-center">
      <h2
        class="font-semibold dark:text-white lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto"
      >
        Síguenos en instagram
      </h2>
      <p
        class="font-normal text-base leading-6 dark:text-gray-400 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto"
      >
        <a href="https://www.instagram.com/bristolkoffee" target="_blank"
          >Síguenos en Instagram <span
            class="underline cursor-pointer text-customYellow hover:text-customBlack"
            >@bristolkoffee</span
          ></a
        >
      </p>
    </div>
    <div
      class="grid lg:grid-cols-5 sm:grid-cols-2 grid-cols-1 lg:grap-8 md:gap-6 gap-4 mt-10"
    >
      <!-- item 1 -->

      <a href="https://www.instagram.com/bristolkoffee">
        <div class="relative group rounded-lg overflow-hidden">
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890412/Bristol%20Koffee/bristolKoffee_ig_1_qnpflq.jpg"
            alt="Bristol Koffee imagen tostada"
            class="lg:block hidden w-full"
          />
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890412/Bristol%20Koffee/bristolKoffee_ig_1_qnpflq.jpg"
            alt="Bristol Koffee imagen tostada"
            class="lg:hidden block w-full"
          />
          <div
            class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top- left-0 h-full w-full"
          >
          </div>
          <div
            class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100"
          >
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/social-1-svg1.svg"
              alt="instagram"
            />
          </div>
        </div>
      </a>

      <!-- item 2 -->

      <a href="https://www.instagram.com/bristolkoffee" target="_blank">
        <div class="relative group rounded-lg overflow-hidden">
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_4_hfbmle.jpg"
            alt="Bristol Koffee imagen staff"
            class="lg:block hidden w-full"
          />
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_4_hfbmle.jpg"
            alt="Bristol Koffee imagen staff"
            class="lg:hidden block w-full"
          />
          <div
            class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top- left-0 h-full w-full"
          >
          </div>
          <div
            class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100"
          >
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/social-1-svg1.svg"
              alt="instagram"
            />
          </div>
        </div>
      </a>

      <!-- item 3 -->

      <a href="https://www.instagram.com/bristolkoffee" target="_blank">
        <div class="relative group rounded-lg overflow-hidden">
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_2_mchybj.jpg"
            alt="Bristol Koffee imagen reposteria"
            class="lg:block hidden w-full"
          />
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_2_mchybj.jpg"
            alt="Bristol Koffee imagen comida"
            class="lg:hidden block w-full"
          />
          <div
            class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top- left-0 h-full w-full"
          >
          </div>
          <div
            class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100"
          >
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/social-1-svg1.svg"
              alt="instagram"
            />
          </div>
        </div>
      </a>

      <!-- item 4 -->

      <a href="https://www.instagram.com/bristolkoffee" target="_blank">
        <div class="relative group rounded-lg overflow-hidden">
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1715772090/Bristol%20Koffee/bristol_koffee_6_eqh9wt.png"
            alt="Bristol Koffee reposteria"
            class="lg:block hidden w-full"
          />
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1715772090/Bristol%20Koffee/bristol_koffee_6_eqh9wt.png"
            alt="Bristol Koffee reposteria"
            class="lg:hidden block w-full"
          />
          <div
            class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top- left-0 h-full w-full"
          >
          </div>
          <div
            class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100"
          >
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/social-1-svg1.svg"
              alt="instagram"
            />
          </div>
        </div>
      </a>
      <!-- item 5 -->

      <a href="https://www.instagram.com/bristolkoffee">
        <div class="relative group rounded-lg overflow-hidden">
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_3_spkz8b.jpg"
            alt="Bristol Koffee imagen refresco"
            class="lg:block hidden w-full"
          />
          <img
            src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1716890413/Bristol%20Koffee/bristolKoffee_ig_3_spkz8b.jpg"
            alt="Bristol Koffee imagen refresco"
            class="lg:hidden block w-full"
          />
          <div
            class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top- left-0 h-full w-full"
          >
          </div>
          <div
            class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100"
          >
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/social-1-svg1.svg"
              alt="instagram"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
