---
import Map from "../components/Map.astro";
import RRSS from "../components/RRSS.astro";
---

<footer class="mx-auto block text-sm text-center max-w-screen-lg">
  <div class="flex gap-20 flex-wrap">
    <div class="flex flex-col items-center">
      <h1 class="text-customBlack text-2xl font-semibold md:text-3xl">
        Bristol Koffee
      </h1>
      <img
        class="rounded-full w-40 h-40"
        src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1714293432/Bristol%20Koffee/bristol_logo_tmp_nouozw.png"
        alt="bristol logo"
      />
    </div>
    <div class="flex flex-col py-1.5 items-start">
      MENÚ
      <div class="flex flex-col gap-x-10 gap-y-4 items-start opacity-75 mt-6">
        <a href="/" class="menu-link">Inicio</a>
        <a href="/carta" class="menu-link">Carta</a>
        <a href="/sobrenosotros" class="menu-link">Sobre Nosotros</a>
        <a href="/cafe" class="menu-link">Nuestro Café</a>
        <a href="/contacto" class="menu-link">Contacto</a>
      </div>
    </div>
    <div class="flex flex-col py-1.5 items-start">
      INFORMACIÓN DE CONTACTO
      <div class="flex flex-col gap-x-10 gap-y-4 items-start opacity-75 mt-6">
        <p>Tómate un ☕ con nosotros, puedes encontrarnos en:</p>
        <p>Rambla de Modolell, 43, 08840 Viladecans, Barcelona</p>
        <Map />
      </div>
    </div>
    <div class="flex flex-col py-1.5 items-start">
      LEGAL
      <div class="flex flex-col gap-x-10 gap-y-4 items-start opacity-75 mt-6">
        <a href="/legal" class="menu-link">Aviso Legal</a>
        <a href="/privacidad" class="menu-link">Política de Privacidad</a>
        <a href="/cookies" class="menu-link">Política de Cookies</a>
      </div>
    </div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
  <RRSS />
  <div class="mb-10 mt-4">
    <span
      >© 2024 <a href="#" class="hover:underline">Bristol Koffee™</a>. Todos
      los derechos reservados.
    </span>
  </div>
</footer>
