---
import Nav from "../components/Nav.astro";
---

<footer class="flex justify-center items-center w-full">
  <div class="flex gap-12 p-20">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-customBlack text-2xl font-semibold md:text-3xl">
        Bristol Koffee
      </h1>
      <img
        class="rounded-full w-40 h-40"
        src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1714293432/bristol_logo_tmp_nouozw.png"
        alt="bristol logo"
      />
    </div>
    <div class="flex flex-col py-1.5 items-start">INFORMACIÓN DE CONTACTO</div>
    <div class="flex flex-col py-1.5 items-start">
      MENÚ
      <div class="flex flex-col gap-x-10 gap-y-4 items-start opacity-75 mt-6">
        <a href="/" class="menu-link">Inicio</a>
        <a href="/sobrenosotros" class="menu-link">Sobre Nosotros</a>
        <a href="/cafe" class="menu-link">Nuestro Café</a>
        <a href="/contacto" class="menu-link">Contacto</a>
      </div>
    </div>
    <div class="flex flex-col py-1.5 items-center">LEGAL</div>
  </div>
</footer>
