---
import { getGoogleReviews } from "../reviews.js";

const reviews = await getGoogleReviews();
---

<div class="mx-auto flex flex-col items-center pb-20">
  <h2>Reseñas de Google</h2>
  {
    reviews.length > 0 ? (
      <ul>
        {reviews.map((review) => (
          <li key={review.author_name}>
            <h3>{review.author_name}</h3>
            <p>{review.text}</p>
            <p>Rating: {review.rating}</p>
          </li>
        ))}
      </ul>
    ) : (
      <p>No hay reseñas disponibles.</p>
    )
  }
</div>
