<header class="flex justify-between items-center py-3 px-52 w-full">
  <img
      class="rounded-full w-20 h-20"
      src="https://res.cloudinary.com/dtmrroz8t/image/upload/v1714245693/IMG_9065_prev_ui_tijjn8.png"
      alt="bristol logo"
    />
  <nav class="flex flex-row gap-x-10 items-center opacity-75">
    <a href="/">Inicio</a>
    <a href="/sobrenosotros">Sobre Nosotros</a>
    <a href="/cafe">Nuestro Café</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>
