<header class="flex justify-between">
  <img src="" alt="bristol logo">

  <nav>
    <a href="/">Home</a>
    <a href="/sobrenosotros">Sobre Nosotros</a>
    <a href="/cafe">Nuestro Café</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>