<nav class="flex flex-row flex-wrap gap-x-10 items-center opacity-75">
  <a href="/" class="hover:text-customYellow hover:underline">Inicio</a>
  <a href="/carta" class="hover:text-customYellow hover:underline">Carta</a>
  <a href="/sobrenosotros" class="hover:text-customYellow hover:underline"
    >Sobre Nosotros</a
  >
  <a href="/cafe" class="hover:text-customYellow hover:underline"
    >Nuestro Café</a
  >
  <a href="/contacto" class="hover:text-customYellow hover:underline"
    >Contacto</a
  >
</nav>
