<nav class="flex flex-row flex-wrap gap-x-10 items-center opacity-75">
  <a href="/" class="menu-link">Inicio</a>
  <a href="/carta" class="menu-link">Carta</a>
  <a href="/sobrenosotros" class="menu-link">Sobre Nosotros</a>
  <a href="/cafe" class="menu-link">Nuestro Café</a>
  <a href="/contacto" class="menu-link">Contacto</a>
</nav>